<h1>Listing print_job_positions</h1>

<table>
	<tr>
		<th>ID</th>
		<th>Status</th>
		<th>Machine</th>
		<th>File</th>
		<th>Quantity</th>
		<th>Percent Done</th>
		<th></th>
	</tr>


<%= render @print_job_positions %>
</table>

<br />
