<h1>Listing print_model_set_positions</h1>

<table>
  <tr>
    <th>Print model set</th>
    <th>Print model</th>
    <th>Quantity</th>
    <th>Default infill</th>
    <th>Default fill pattern</th>
    <th>Priority</th>
    <th></th>
    <th></th>
  </tr>

<%= render @print_model_set_positions %>
</table>

<br />

<%= link_to 'New Print model set position', new_print_model_set_position_path %>
